.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 600px;
    max-width: 100vw;
    
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .slides {
        position: relative;
        height: 450px;
        max-height: 100vh;
        width: 42%;
        background-color: black;
        border-radius: 10px;
        box-shadow: 0 0 25px -7px white;

        img , video{
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: inherit;
            
        }
        

        .details {
            font-size: 1rem;
            position : absolute;
            color: white;
            bottom:15px;
            padding: 0 15px  0px 15px;
            z-index: 1;
            width: 100%;
    
            h2 {
                font-size: 1rem;
            }
    
            p {
                font-size: 10px;
                font-weight: 400;
            }

            .saveLike {
                display: flex;
                justify-content: space-between;
                padding: 0px 10px 0 20px;
                margin-top: 10px;
                width: 100%;
                .save{
                    height: 19.5px;
                    
                }
                .heart {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 9px;
                }
                img {
                    width: 20px;
                    object-fit: contain;
                    cursor: pointer;
                }
                img:hover{transform: scale(1.05);}
            }
        }

        .blackShadow {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: inherit;
            box-shadow: 0px -100px 50px 7px black inset;

        }

        .totalSlides {
            width: 100%;
            height: 100%;
            position: absolute;
            list-style: none;
            display: flex;
            padding: 12px 10px 0px;     
            gap: 6px;
            box-shadow: 0px 12px 20px -4px black inset;
            border-radius: 10px;
            
            li {
                z-index: 4;
                color: white;
                width: 100%;
                border: 1px solid;
                height: 2px;
            }
        }

        .crossShare {

            position: absolute;
            z-index: 3;
            top: 30px;
            width: 100%;
            display: flex; 
            justify-content: space-between;
            padding: 0 14px;

            .cross {
                width: 14px;
            }
            img {
                width: 18px;
                cursor: pointer;
            }
            img:hover {
                transform: scale(1.1);
            }
        }
    }

    .control {
        width: 12%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        img {
            width: 23px;
        }
    }

    .control:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.blackSpace {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
}

@media only screen and (max-width: 769px) {
    .container {
    
        .slides {
            height: 100svh;
            width: 100svw;
            border-radius: 0px;
        }
    
        .control {
            height: 80vh;
            width: 50vw;
            position: absolute;
            z-index: 1;
            img {
                display: none;
                width: 23px;
            }
        }

    }
}